<div>
  <div class="title">SpaceX Launch Programs</div>
  <div class="row rowCss">
    <div class="col-4">
      <br />
      <div class="mainDiv">
        <div class="filtersDiv"><b>Filters</b></div>
        <br />
        <div class="launchHeader">
          Launch Year
          <hr class="hr" />
          <div *ngIf="!loadingData">Loading Data in progress...</div>
        </div>
      </div>

      <div class="yearCss">
        <div *ngFor="let item of yearArr">
          <button
            class="btn"
            (click)="yearClick(item)"
            [ngClass]="{ 'btn:focus': yearContent }"
          >
            {{ item }}
          </button>
        </div>

        <br />
      </div>
      <div class="successDiv">
        <br />
        <div>Successful Launch</div>
        <hr class="hr" />
        <!-- <div class="loader" *ngIf="!loadingData"></div> -->
        <ng-container *ngFor="let item of launchSuccessArr">
          <button
            class="btn"
            (click)="launchSuccessClick(item)"
            [ngClass]="{
              'btn:focus': launch_success
            }"
          >
            <!-- {{ item.launch_success }} -->
            {{ item }}
          </button>
        </ng-container>

        <br />
        <br />

        <div>Successful Landing</div>
        <hr class="hr" />
        <!-- <div class="loader" *ngIf="!loadingData"></div> -->
        <ng-container *ngFor="let item of landingSuccessArr">
          <button
            class="btn"
            (click)="landSuccessClick(item)"
            [ngClass]="{
              'btn:focus': land_success
            }"
          >
            <!-- {{ item.rocket.first_stage.cores[0].land_success }} -->
            {{ item }}
          </button>
        </ng-container>
      </div>
    </div>

    <div class="col-8 grid">
      <div *ngIf="!loadingData">Loading Data in progress...</div>
      <div class="card" *ngFor="let item of data">
        <div class="imgDiv">
          <img [src]="item.links.mission_patch_small" alt="" class="imgCss" />
        </div>

        <div class="infoDiv">
          <span class="missionName"
            ><b
              >{{ item.mission_name }}&nbsp; # {{ item.flight_number }}</b
            ></span
          >
          <br />
          <span><b>Mission Ids:</b> {{ item.mission_id || "N/A" }}</span
          ><br />
          <!-- <span *ngIf="!item.mission_id.length"><b>Mission Ids:</b> N/A</span
          ><br /> -->
          <span><b>Launch Year:</b> {{ item.launch_year }}</span
          ><br />
          <span
            ><b>Successful Launch:</b>{{ item.launch_success || "N/A" }}</span
          ><br />
          <span *ngIf="'item = item.rocket.first_stage'">
            <b>Successful Landing:</b>
            {{ item.rocket.first_stage.cores[0].land_success || "N/A" }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p><span class="footerCss">Developed By : </span>Soniya</p>
  </div>
</div>
