///////////////////////////////////////////////////////////////

@media screen and (max-width: 589px) {
  body {
    background-color: #f0f0f0;
  }

  .rowCss {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .loader {
    margin-top: 10px;
    text-align: center;
  }

  .launchHeader {
    text-align: center;
    padding-bottom: 1px;
    font-size: 1.2rem;
  }

  .imgCss {
    width: 600px;
    height: auto;
  }

  .card {
    margin: 10px;
    border-radius: 5px;
    width: 620px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }

  .infoDiv {
    padding: 10px;
    line-height: 50px;
    font-size: 1.5rem !important;
  }

  .mainDiv {
    background-color: white;
    margin-left: 20px;
    width: 660px;
  }

  .hr {
    width: 120px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    font-size: 1.5rem !important;
    text-align: center;
    font-weight: bold;
  }

  .btn:focus {
    outline: none;
    background-color: #349603;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.5rem !important;
    font-weight: 900;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
  }

  .imgDiv {
    align-self: center;
    background: #f0f0f0;
  }

  .missionName {
    color: #3b0270;
    // font-family: sans-serif;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
  }

  .successDiv {
    margin-left: 20px;
    text-align: center;
    width: 660px;
    background: white;
    font-size: 1.5rem !important;
    padding-bottom: 20px;
  }

  .filtersDiv {
    text-align: left;
    padding: 10px;
  }

  .row {
    display: flex;
  }

  .yearCss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    width: 650px;
    text-align: center;
    font-size: 1.5rem !important;
  }

  .btn {
    background-color: #85fa49;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
  }
}

/////////////////////////////////////////////////////////////

// upto 700px
@media screen and (min-width: 590px) and (max-width: 700px) {
  body {
    background-color: #f0f0f0;
  }

  .rowCss {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .launchHeader {
    text-align: center;
    padding-bottom: 1px;
    font-size: 1.2rem;
  }

  .loader {
    margin-top: 10px;
    text-align: center;
  }

  .imgCss {
    width: 600px;
    height: auto;
  }

  .card {
    margin: 10px;
    border-radius: 5px;
    width: 620px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }

  .infoDiv {
    padding: 10px;
    line-height: 50px;
    font-size: 1.5rem !important;
  }

  .mainDiv {
    background-color: white;
    margin-left: 20px;
    width: 660px;
  }

  .hr {
    width: 120px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    font-size: 1.5rem !important;
    text-align: center;
    font-weight: bold;
  }

  .btn:focus {
    outline: none;
    background-color: #349603;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.5rem !important;
    font-weight: 900;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
  }

  .imgDiv {
    align-self: center;
    background: #f0f0f0;
  }

  .missionName {
    color: #3b0270;
    // font-family: sans-serif;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20px;
  }

  .successDiv {
    margin-left: 20px;
    text-align: center;
    width: 660px;
    background: white;
    font-size: 1.5rem !important;
    padding-bottom: 20px;
  }

  .filtersDiv {
    text-align: left;
    padding: 10px;
  }

  .row {
    display: flex;
  }

  .yearCss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    width: 650px;
    text-align: center;
    font-size: 1.5rem !important;
  }

  .btn {
    background-color: #85fa49;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
  }
}

// ////////////////////////////////////////////////////////

@media screen and (min-width: 701px) and (max-width: 1023px) {
  body {
    background-color: #f0f0f0;
  }

  .rowCss {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .imgCss {
    width: 420px;
    height: auto;
  }

  .loader {
    margin-top: 10px;
    text-align: center;
  }

  .infoDiv {
    padding: 10px;
    line-height: 30px;
    font-size: 1.2rem !important;
  }

  .card {
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    width: 450px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }

  .launchHeader {
    text-align: center;
    padding-bottom: 1px;
    font-size: 1.2rem;
  }

  .mainDiv {
    background-color: white;
    margin-left: 20px;
    width: 975px;
  }

  .hr {
    width: 120px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
  }

  .btn:focus {
    outline: none;
    background-color: #349603;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
  }

  .title {
    font-size: 1.5rem !important;
    font-weight: 900;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
  }

  .imgDiv {
    align-self: center;
    background: #f0f0f0;
  }

  .missionName {
    color: #3b0270;
    // font-family: sans-serif;
  }

  .grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin-left: 20px;
    padding-top: 15px;
  }

  .successDiv {
    margin-left: 20px;
    text-align: center;
    width: 975px;
    background: white;
    padding-bottom: 20px;
  }

  .filtersDiv {
    text-align: left;
    padding: 10px;
    font-size: 1.2rem;
  }

  .row {
    display: flex;
  }

  .yearCss {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    width: 965px;
    text-align: center;
  }

  .btn {
    background-color: #85fa49;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1.2rem;
  }
}

// /////////////////////////////////////////////////////

// above 1024px & upto 1440px

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .card {
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }

  .launchHeader {
    text-align: center;
    padding-bottom: 1px;
    font-size: 1rem;
  }

  .imgCss {
    width: 190px;
    height: auto;
  }

  .filtersDiv {
    text-align: left;
    padding: 10px;
  }

  .loader {
    margin-top: 10px;
    text-align: center;
  }

  .mainDiv {
    background-color: white;
    margin-left: 20px;
    width: 200px;
  }

  .hr {
    width: 120px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
  }

  .btn:focus {
    outline: none;
    background-color: #349603;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1rem;
  }

  .title {
    font-size: 1.2rem !important;
    font-weight: 900;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
  }

  .imgDiv {
    align-self: center;
    background: #f0f0f0;
  }

  .missionName {
    color: #3b0270;
    // font-family: sans-serif;
  }

  .grid {
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.3fr 0.8fr;
    margin-left: 30px;
    padding-top: 15px;
  }

  .successDiv {
    margin-left: 20px;
    text-align: center;
    width: 200px;
    background: white;
    padding-bottom: 20px;
  }

  .row {
    display: flex;
  }

  .yearCss {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    width: 190px;
    text-align: center;
  }

  .btn {
    background-color: #85fa49;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1rem;
  }

  .infoDiv {
    padding: 10px;
    line-height: 25px;
    font-size: 0.9rem !important;
  }

  .rowCss {
    margin-top: 40px;
  }
}

////////////////////////////////////////////////////////

//above 1440px

@media screen and (min-width: 1440px) {
  .card {
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    width: 250px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
  }

  .launchHeader {
    text-align: center;
    padding-bottom: 1px;
    font-size: 1.5rem;
  }

  .imgCss {
    width: 230px;
    height: auto;
  }

  .loader {
    margin-top: 10px;
    text-align: center;
  }

  .filtersDiv {
    background-color: white;
    width: 180px;
    padding: 10px;
  }

  .mainDiv {
    background-color: white;
    margin-left: 20px;
    width: 200px;
  }

  .hr {
    width: 180px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
  }

  .btn:focus {
    outline: none;
    background-color: #349603;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1rem;
  }

  .title {
    font-size: 2rem !important;
    font-weight: 900;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f0f0f0;
  }

  .imgDiv {
    align-self: center;
    background: #f0f0f0;
  }

  .missionName {
    color: #3b0270;
    // font-family: sans-serif;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 30px;
    padding-top: 15px;
  }

  .successDiv {
    margin-left: 20px;
    text-align: center;
    width: 200px;
    background: white;
    padding-bottom: 20px;
  }

  .row {
    display: flex;
  }

  .yearCss {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    background-color: white;
    padding: 5px;
    margin-left: 20px;
    width: 190px;
    text-align: center;
  }

  .btn {
    background-color: #85fa49;
    border-radius: 0.2rem;
    padding: 5px 15px;
    border: 0;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 1rem;
  }

  .infoDiv {
    padding: 10px;
    line-height: 25px;
    font-size: 1rem !important;
  }

  .rowCss {
    margin-top: 60px;
  }
}
